<div>
  <div class="col-md-2">
    <h4>Категорії</h4>
  </div>
  <div class="col-md-10">
    <ul class="nav nav-pills nav-justified">
        <% category.forEach(function(item){%>
        	<li><a href="#/photos/<%= item.link %>"><%= item.title %></a></li>
        <% }) %>
      </ul>
  </div>
</div>
