<div class="panel panel-default">
  <div class="panel-body">

    <div class="photo-head">
      <h4>Фотографії</h4>
      <% if(likes) { %>
      <nav id="favorites">
        <ul>
          <li ><a href="#/photos/filter/all">Всі</a></li>
          <li ><a href="#/photos/filter/favourites">Улюблені</a></li>
        </ul>
      </nav>
      <% } %>
    </div>

    <div id="slider">
      <div role="prev" class="glyphicon glyphicon-chevron-left"></div>
      <div class="image">
         <img data-original='<%= img %>' src='<%= img %>' alt="photo" width='<%= width %>px' height='<%= height %>px'>
        <span class="like <% if(isliked) { %> invisible <% } %>" >
          <div class="like-btn">
            <span class="glyphicon glyphicon-heart"></span>
          </div>
        </span>
      </div>
      <div role="next" class="glyphicon glyphicon-chevron-right"></div>
    </div>

    <div id="categories">
      categories here
    </div>
  </div>
</div>
