<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <h4>Налаштування</h4>
    </p>
    <br />
    <form class="form-horizontal">
      <div class="form-group">
        <label for="width" class="col-sm-2 control-label">Width: </label>
        <div class="col-sm-10">
          <input type="text" name="width" class="form-control" role="width" />
        </div>
      </div>

      <div class="form-group">
        <label for="height" class="col-sm-2 control-label">Height: </label>
        <div class="col-sm-10">
          <input type="text" name="height" class="form-control" role="height" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-default" role="save">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
